In [ ]:
# задание 1

In [1]:
import pickle

In [2]:
testData = {
    'a': [1, 2.0, 3, (4+6j)], 
    'b': ('character string', b'byte string'), 
    'c': {None, True, False}
}

In [3]:
with open('MyClassInFile.pickle', 'wb') as f:
    pickle.dump(testData, f)

In [4]:
# задание 2

In [5]:
import shelve

In [6]:
with shelve.open("films") as films:
    films["film1"] = "director1"
    films["film3"] = "director3"
    films["film2"] = "director2"

In [7]:
# задание 3

In [1]:
import sqlite3

conn = sqlite3.connect("mydatabase2.db")

conn.row_factory = sqlite3.Row

cursor = conn.cursor()
cursor.execute("CREATE TABLE albums (title text, artist text, release_date text)")

In [2]:
albums = [('name', 'salary', 'age'),
          ('John', '5000', '35'),
          ('Marie', '6000', '35'),
          ('Megan', '3000', '29'),
         ('Harmony', '4000', '42')]

cursor.executemany("INSERT INTO albums VALUES (?,?,?)", albums)
conn.commit()

In [3]:
for row in cursor.execute("SELECT rowid, * FROM albums ORDER BY artist"):
    print(row)

<sqlite3.Row object at 0x000002445BDAF4F0>
<sqlite3.Row object at 0x000002445BDAF4B0>
<sqlite3.Row object at 0x000002445BDAF4F0>
<sqlite3.Row object at 0x000002445BDAF4B0>
<sqlite3.Row object at 0x000002445BDAF4F0>