In [258]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it.csv')
df.head()

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽"
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽"
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽"
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽"
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽"

In [259]:
def salary(row):
    value = ""
    currency = ""
    for i in row["З/п в валюте найма"]:
        if i.isdigit() or i == ",":
            value += i
        else:
            currency += i
    return [float(value.replace(",",".")), currency.replace(" ", "").replace("\xa0", "")]
def currency(row):
    return row["З/п в валюте найма"][1]
def value(row):
    return row["З/п в валюте найма"][0]

df["З/п в валюте найма"] = df.apply(salary, axis=1)
df["Валюта"] = df.apply(currency, axis=1)
df["З/п в валюте найма"] = df.apply(value, axis=1)

In [245]:
# задание 1
# Определите среднюю з.п. по данным в рублях

round(df[df["Валюта"] == "₽"]["З/п в валюте найма"].mean(),2)

190669.89

In [246]:
# задание 2 
# Определите технологию с максимальной з.п. по данным в рублях

df[df["З/п в валюте найма"] == df[df["Валюта"] == "₽"]["З/п в валюте найма"].max()]["Вакансия"]

14    Head of Software Testing Department
Name: Вакансия, dtype: object

In [247]:
# задание 3
# Определите возраст программистов с максимальной з.п. по данным в рублях
import datetime
from datetime import datetime, timedelta

df[df["З/п в валюте найма"] == df[df["Валюта"] == "₽"]["З/п в валюте найма"].max()]["Дата рождения"].apply(lambda x:2020 - int(x[-4:]))

14    34
Name: Дата рождения, dtype: int64

In [248]:
# задание 4
# Определите зарплаты работников, у которых в названии вакансии встречается слово Engineer

df[df.Вакансия.str.contains("Engineer")][["З/п в валюте найма","Валюта"]]

    З/п в валюте найма Валюта
4             172413.0      ₽
9               9500.0     zł
11             12000.0     zł
12             10500.0     zł
13              9500.0     zł
18            200000.0      ₽
19            135000.0      ₽
37             13000.0     zł
38              6446.0    lev
39            650000.0     Ft
54             80000.0     Kč

In [260]:
import pandas as pd
import requests  
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
currencies = response.json()

In [262]:
# задание 4
# Определите заработную плату в ₽ по текущему курсу.

codes = {"$":"USD","Ft":"HUF","Kč":"CZK","lev":"BGN","zł":"PLN","€":"EUR","₽":"RUB"}
def to_rub(row):
    ans = 0
    if row["Валюта"] != "₽":
        ans = currencies['Valute'][codes[row["Валюта"]]]['Value'] * row["З/п в валюте найма"]
    else:
        ans = row["З/п в валюте найма"]
        return ans

df["з\п в рублях"] = df.apply(to_rub, axis=1)

In [267]:
df.head()

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,Валюта,з\п в рублях
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,140000.0,₽,140000.0
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,130000.0,₽,130000.0
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,200000.0,₽,200000.0
3,4,09.06.1989,Архитектор ПО,Java,Москва,250000.0,₽,250000.0
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,172413.0,₽,172413.0